{%- if product.has_only_default_variant == false or product.selling_plan_groups.size > 0 -%}
  {%- assign swatch_classes = 'p2 p2--fixed motion-reduce' -%}
{% comment %}
  {% if settings.variant_picker_style == 'style-2' %}
    {%- assign swatch_classes = 'p3 motion-reduce' -%}
  {% endif %} {% endcomment %}

  <product-selector
    class="main-product__selector main-product__selector--{{ settings.variant_picker_style | replace: '_', '-' }} no-js-hidden"
    data-section="{{- section.id -}}" data-url="{{- product.url -}}"{% if block %} {{ block.shopify_attributes }}{% endif %}
    {% if is_quickview_selector %}
      data-variant-id="{{- product.selected_or_first_available_variant.id -}}"
    {% endif %}
    {% if product.requires_selling_plan %}
      data-product-requires-selling-plan
    {% endif %}
  >
    {%- for option in product.options_with_values -%}
      {% liquid
        assign is_swatches = false
        assign swatches_class = ''
        assign show_label = false

        if option.name == settings.products_swatches_name and settings.products_product_swatches
          assign is_swatches = true
          assign swatches_class = 'list-swatches list-swatches--large' | append: ' list-swatches--' | append: settings.products_swatches_shape | append: ' list-swatches--active-' | append: settings.products_swatches_active_style | append: ' list-swatches--' | append: settings.variant_picker_style
        endif

        unless is_swatches or settings.variant_picker_style != 'style-2'
          assign swatches_class = swatches_class | append: ' main-product__form-group--slider'
        endunless

        if settings.show_variant_labels
          assign show_label = true
        elsif settings.show_variant_label_values and is_swatches
          assign show_label = true
        endif

        if is_swatches and settings.variant_picker_style == 'style-2' and settings.show_variant_labels == false and settings.show_variant_label_values
          assign reverse_form_input = true
        endif
      %}

      {%- if settings.variant_picker_type == 'buttons' -%}
        <div
          class="js main-product__form-input{% if reverse_form_input %} main-product__form-input--reverse{% endif %}{% if product.has_only_default_variant %} hidden{% endif %}"
          role="group"
          aria-labelledby="Product-{{- option.name -}}"
        >
          <div class="main-product__form-label medium p2 p2--fixed {% unless show_label %} visually-hidden{% endunless %}" id="Product-{{- option.name -}}">
            <span class="{% unless settings.show_variant_labels %} visually-hidden{% endunless %}">

            </span>

            <span
              class="{% unless settings.show_variant_label_values and is_swatches %}visually-hidden{% endunless %}"
              data-option-value
              {% unless settings.show_variant_labels %}
                data-option-value-no-label
              {% endunless %}
              id="Option-value-{{- section.id }}-{{- option.name | handle -}}"
            >
              {%- if settings.show_variant_labels -%}:{%- endif %} {{ product.options_by_name[option.name].selected_value }}
            </span> 
          </div>

          <div class="main-product__form-group {{ swatches_class }}">
            {%- unless is_swatches or settings.variant_picker_style != 'style-2' -%}
              <div class="main-product__options-slider-wrapper">
                <div class="splide main-product__options-slider">
                  <div class="splide__track">
                    <div class="splide__list">
            {%- endunless -%}
        
          <span class="main-product__vartiant__title"><span class="variant__label">Select Variant</span>
            <div class="main-product__variants_block">
            {%- for value in option.values -%} 
              <div class="main-product__form-option product_metafield_variants {% unless is_swatches or settings.variant_picker_style != 'style-2' %} splide__slide{%- endunless -%}">
                <input
                  type="radio"
                  id="{{- section.id }}-{{- option.position -}}-{{ forloop.index0 -}}"
                  name="{{- option.name -}}"
                  value="{{- value | escape -}}"
                  form="{{- product_form_id -}}"
                  {% if option.selected_value == value %}checked="checked"{% endif %}
                  class="visually-hidden"
                  data-value-label="Option-value-{{- section.id }}-{{- option.name | handle -}}"
                >

                <label
                  for="{{- section.id }}-{{- option.position -}}-{{ forloop.index0 -}}"
                  {% if is_swatches %} 
                    class=" swatch swatch--{{ value | handle }} motion-reduce"
                    {% if settings.products_swatches_use_image_assets %}
                      {%- assign file_name = value | replace: ' ', '-' | append: '.png' -%}
                      style="background-image: url({{ file_name | file_img_url: '36x' }});"
                    {% else %}
                      style="background-color: {{ value | downcase | remove: ' ' }};"
                    {% endif %}
                  {%- else -%}
                    class="{{ swatch_classes }}"
                  {% endif %}
                >
                  <div class="main-product__variant__name"> {{- value -}}</div> 
                      {% assign some = forloop.index %}
                       {% for variant in product.variants%}
                        {% assign variant_sizes = variant.metafields.custom.variant_prices %}
                        {% assign variant_item = variant_sizes  | split: "|" %}
                        {% if forloop.index == some %}
                         <div class="main-product__variants-info">
                          <div class="main-product__varian_price">{{ variant.price |money_with_currency  }}</div>
                          <div class="main-product__variants__meta-variant">{{ variant_item | remove: '[' | remove: ']' | remove: '"'  }} </div>
                         </div>
                        {% endif %}
                       {% endfor %}
                </label>
              </div><!-- /.main-product__form-option -->
            {%- endfor -%}
            </div>
              </span>
       

            {%- unless is_swatches or settings.variant_picker_style != 'style-2' -%}
                  </div><!-- /.splide__list -->
                </div><!-- /.splide__track -->

                <div class="splide__arrows">
                  <button class="splide__arrow splide__arrow--prev">
                    <span class="visually-hidden">
                      {{- 'accessibility.previous' | t -}}
                    </span>

                    {% render 'icon-chevron' %}
                  </button>

                  <button class="splide__arrow splide__arrow--next">
                    <span class="visually-hidden">
                      {{- 'accessibility.next' | t -}}
                    </span>

                    {% render 'icon-chevron' %}
                  </button>
                </div>
                </div>
              </div><!-- /.splide -->
            {%- endunless -%}

            {%- if option.name == settings.products_size_name and block.settings.size_guide_page != blank -%}
              <div class="main-product__form-option">
                <modal-opener class="no-js-hidden" data-modal="#PopupModal-Size-Guide">
                  <button
                    id="ProductPopup-Size-Guide"
                    type="button"
                    aria-haspopup="dialog"
                    aria-label="{{- 'products.product.size_guide.button_label' | t -}}"
                  >
                    {%- render 'icon-ruler' -%}
                  </button>
                </modal-opener>
              </div><!-- /.main-product__form-option -->
            {%- endif -%}
          </div><!-- /.main-product__form-group -->
        </div><!-- /.js main-product__form-input -->
      {%- else -%}
        <div class="main-product__form-input main-product__form-input--dropdown {% if reverse_form_input %} main-product__form-input--reverse{% endif %}{% if product.has_only_default_variant %} hidden{% endif %}{% if is_quickview_selector and is_swatches %} hidden-mobile{% endif %}">
          <label
            class="main-product__form-label medium p2 p2--fixed{% if block %}{% unless show_label %} visually-hidden{% endunless %}{% endif %}"
            for="Option-{{- section.id -}}-{{- forloop.index0 -}}"
          >
            <span class="{% unless settings.show_variant_labels %} visually-hidden{% endunless %}">
              {{- option.name -}}
            </span>

            <span
              class="{% unless settings.show_variant_label_values %}visually-hidden{% endunless %} {% if is_quickview_selector and is_swatches != true and settings.show_variant_labels != true %} visually-hidden{% endif %}"
              data-option-value
              {% unless settings.show_variant_labels %}
                data-option-value-no-label
              {% endunless %}
              id="Option-value-{{- section.id }}-{{- option.name | handle -}}"
            >{%- if settings.show_variant_labels -%}:{%- endif %} {{ product.options_by_name[option.name].selected_value }}</span>
          </label>

          <div class="main-product__form-group {{ swatches_class }}{% if option.name == settings.products_size_name and is_quickview_selector == nil %} main-product__form-group--has-size-guide{% endif %}">
            {%- if is_swatches -%}
              {%- for value in option.values -%}
                <div class="main-product__form-option">
                  <input
                    type="radio"
                    id="{{- section.id }}-{{- option.position -}}-{{ forloop.index0 -}}"
                    name="{{- option.name -}}"
                    value="{{- value | escape -}}"
                    form="{{- product_form_id -}}"
                    data-value-label="Option-value-{{- section.id }}-{{- option.name | handle -}}"
                    {% if option.selected_value == value %}checked="checked"{% endif %}
                    {% if is_swatches %}
                      class="visually-hidden"
                    {% endif %}
                  >

                  <label
                    for="{{- section.id }}-{{- option.position -}}-{{ forloop.index0 -}}"
                    {% if is_swatches %}
                      class="swatch swatch--{{ value | handle }} motion-reduce"
                      {% if settings.products_swatches_use_image_assets %}
                        {%- assign file_name = value | replace: ' ', '-' | append: '.png' -%}
                        style="background-image: url({{ file_name | file_img_url: '36x' }});"
                      {% else %}
                        style="background-color: {{ value | downcase | remove: ' ' }};"
                      {% endif %}
                    {% endif %}
                  >
                    {{- value -}}
                  </label>
                </div><!-- /.main-product__form-option -->
              {%- endfor -%}
            {%- else -%}
              <div class="select">
                <select
                  id="Option-{{- section.id -}}-{{- forloop.index0 -}}"
                  name="options[{{- option.name | escape -}}]"
                  form="{{- product_form_id -}}"
                  data-value-label="Option-value-{{- section.id }}-{{- option.name | handle -}}"
                >
                  {%- for value in option.values -%}
                    <option
                      value="{{- value | escape -}}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}
                    >
                      {{- value -}}
                    </option>
                  {%- endfor -%}
                </select>

                {% render 'icon-chevron' %}
              </div><!-- /.select -->

              {%- if option.name == settings.products_size_name and is_quickview_selector == nil and block.settings.size_guide_page != blank -%}
                <modal-opener class="no-js-hidden" data-modal="#PopupModal-Size-Guide">
                  <button
                    id="ProductPopup-Size-Guide"
                    class="button-icon button-icon--transparent"
                    type="button"
                    aria-haspopup="dialog"
                  >
                    {%- render 'icon-ruler' -%}
                  </button>
                </modal-opener>
              {%- endif -%}
            {%- endif -%}
          </div><!-- /.main-product__form-group -->
        </div><!-- /.main-product__form-input main-product__form-input--dropdown -->

        {%- if is_quickview_selector and is_swatches -%}
          <div class="main-product__form-input main-product__form-input--dropdown hidden-tablet hidden-desktop">
            <div class="main-product__form-group">
              <div class="select">
                <select
                  id="Option-{{- section.id -}}-{{- forloop.index0 -}}"
                  name="options[{{- option.name | escape -}}]"
                  form="{{- product_form_id -}}"
                >
                  {%- for value in option.values -%}
                    <option
                      value="{{- value | escape -}}"
                      {% if option.selected_value == value %}selected="selected"{% endif %}
                    >
                      {{- value -}}
                    </option>
                  {%- endfor -%}
                </select>

                {% render 'icon-chevron' %}
              </div><!-- /.select -->
            </div>
          </div>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}

    {%- if product.selling_plan_groups.size > 0 and is_quickview_selector == nil -%}
      {%- liquid
        assign current_variant = product.selected_or_first_available_variant | default: product.variants.first
        assign current_selling_plan_allocation = current_variant.selected_selling_plan_allocation

        if current_selling_plan_allocation == nil and current_variant.requires_selling_plan
          assign current_selling_plan_allocation = current_variant.selling_plan_allocations | first
        endif

        assign current_variant_selling_plan_groups_ids = current_variant.selling_plan_allocations | map: 'selling_plan_group_id' | uniq | join: ','
      -%}

      <div class="main-product__purchase-options" role="group" aria-labelledby="Product-Purchase-Options">
        <p class="main-product__purchase-options-title p2 p2--fixed medium" id="Product-Purchase-Options">
          {{- 'products.product.selling_plan_groups.title' | t -}}
        </p>

        <div class="main-product__purchase-options-body" data-selling-plans-wrapper>
          {%- unless product.requires_selling_plan -%}
            <div class="main-product__purchase-option-wrapper" data-purchase-option-wrapper>
              <div class="main-product__purchase-option">
                <div class="main-product__purchase-option-control radio">
                  <input
                    type="radio"
                    name="purchase_option"
                    class="visually-hidden"
                    id="Product-Purchase-Option-One-Time"
                    data-purchase-option
                    {% unless current_selling_plan_allocation.selling_plan %} checked{% endunless %}
                  >

                  <label for="Product-Purchase-Option-One-Time" class="main-product__purchase-option-label p2 p2--fixed regular">
                    {{- 'products.product.selling_plan_groups.one_time_purchase' | t -}}
                  </label>
                </div>

                <div class="main-product__purchase-option-meta">
                  <span class="main-product__purchase-option-price p2 p2--fixed medium" id="price-one-time-{{- section.id -}}">
                    {%- if settings.show_currency_codes -%}
                      {{- current_variant.price | money_with_currency -}}
                    {%- else -%}
                      {{- current_variant.price | money -}}
                    {%- endif -%}
                  </span>
                </div>
              </div>
            </div>
          {%- endunless -%}

          {%- for selling_plan_group in product.selling_plan_groups -%}
            <div
              class="main-product__purchase-option-wrapper{% unless current_variant_selling_plan_groups_ids contains selling_plan_group.id %} hidden{% endunless %}"
              data-purchase-option-wrapper
              data-selling-plan-group-id="{{- selling_plan_group.id -}}"
            >
              <div class="main-product__purchase-option">
                <div class="main-product__purchase-option-control radio">
                  <input
                    type="radio"
                    name="purchase_option"
                    class="visually-hidden"
                    id="Product-Purchase-Option-{{- selling_plan_group.name | handle -}}"
                    value="{{- selling_plan_group.id -}}"
                    data-purchase-option
                    {% if current_selling_plan_allocation.selling_plan_group_id == selling_plan_group.id %} checked{% endif %}
                  >

                  <label for="Product-Purchase-Option-{{- selling_plan_group.name | handle -}}" class="main-product__purchase-option-label p2 p2--fixed regular">
                    {{- selling_plan_group.name -}}
                  </label>
                </div>

                <div class="main-product__purchase-option-meta" data-selling-plan-group-price data-selling-plan-group-name="{{- selling_plan_group.name | handle -}}">
                  <span class="p2 p2--fixed medium">
                    {%- assign selling_plan_group_current_selling_plan = selling_plan_group.selling_plans
                      | where: 'id', current_selling_plan_allocation.selling_plan.id
                      | first
                      | default: selling_plan_group.selling_plans[0]
                    -%}
                    {%- assign selling_plan_group_current_selling_plan_allocation = nil -%}

                    {%- for selling_plan_allocation in current_variant.selling_plan_allocations -%}
                      {%- if selling_plan_allocation.selling_plan.id != selling_plan_group_current_selling_plan.id -%}
                        {%- continue -%}
                      {%- endif -%}

                      {%- assign selling_plan_group_current_selling_plan_allocation = selling_plan_allocation -%}
                    {%- endfor -%}

                    {%- assign is_prepaid = false -%}

                    {%- if
                      selling_plan_group_current_selling_plan_allocation.price !=
                      selling_plan_group_current_selling_plan_allocation.per_delivery_price
                    -%}
                      {%- assign is_prepaid = true -%}
                    {%- endif -%}

                    {%- if is_prepaid -%}
                      from

                      {% if settings.show_currency_codes %}
                        {{ selling_plan_group_current_selling_plan_allocation.per_delivery_price | money_with_currency -}}
                      {% else %}
                        {{ selling_plan_group_current_selling_plan_allocation.per_delivery_price | money -}}
                      {% endif %}
                    {%- else -%}
                      {%- if settings.show_currency_codes -%}
                        {{- selling_plan_group_current_selling_plan_allocation.price | money_with_currency -}}
                      {%- else -%}
                        {{- selling_plan_group_current_selling_plan_allocation.price | money -}}
                      {%- endif -%}
                    {%- endif -%}
                  </span>

                  {%- if selling_plan_group_current_selling_plan_allocation.unit_price != nil and current_variant.unit_price_measurement -%}
                    <span class="caption caption--mobile color-body">
                      <span class="visually-hidden">
                        {{- 'products.product.price.unit_price_label' | t -}}
                      </span>

                      {%- capture unit_price_base_unit -%}
                        {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
                          {{- current_variant.unit_price_measurement.reference_value -}}
                        {%- endif -%}

                        {{ current_variant.unit_price_measurement.reference_unit }}
                      {%- endcapture -%}

                      {%- if settings.show_currency_codes -%}
                        {{- selling_plan_group_current_selling_plan_allocation.unit_price | money_with_currency | append: '/' | append: unit_price_base_unit -}}
                      {%- else -%}
                        {{- selling_plan_group_current_selling_plan_allocation.unit_price | money | append: '/' | append: unit_price_base_unit -}}
                      {%- endif -%}
                    </span>
                  {%- endif -%}

                  <span class="caption caption--mobile color-body">
                    {{- 'products.product.selling_plan_groups.each' | t -}}
                  </span>
                </div>
              </div>

              <div class="main-product__purchase-option-values">
                <div
                  class="main-product__purchase-option-values-wrapper"
                  role="group"
                  aria-labelledby="Product-Purchase-Option-{{- selling_plan_group.options[0].name | handle -}}"
                >
                  <p
                    class="main-product__purchase-option-values-title p2 p2--fixed"
                    id="Product-Purchase-Option-{{- selling_plan_group.options[0].name | handle -}}"
                  >
                    {{- selling_plan_group.options[0].name -}}
                  </p>

                  {%- for selling_plan in selling_plan_group.selling_plans -%}
                    <div class="main-product__purchase-option-values-item radio">
                      <input
                        type="radio"
                        value="{{- selling_plan.id -}}"
                        class="visually-hidden"
                        id="Selling-Plan-{{- selling_plan_group.name | handle -}}-{{- selling_plan.name | handle -}}"
                        name="selling_plan_{{- selling_plan_group.name | handle | replace: '-', '_' -}}-{{- selling_plan.name | handle -}}"
                        data-selling-plan-option
                        {% if current_selling_plan_allocation.selling_plan.id == selling_plan.id %} checked{% endif %}
                      >

                      <label
                        class="main-product__purchase-option-label p2 p2--fixed regular"
                        for="Selling-Plan-{{- selling_plan_group.name | handle -}}-{{- selling_plan.name | handle -}}"
                      >
                        {{- selling_plan.options[0].value -}}
                      </label>
                    </div>
                  {%- endfor -%}
                </div>
              </div>
            </div>
          {%- endfor -%}
        </div>

        <div class="main-product__purchase-options-foot">
          <div class="main-product__purchase-options-description p2 p2--fixed" data-selling-plan-description>
            {%- if
              current_variant.selected_selling_plan_allocation.price_adjustments[0].price !=
              current_variant.selected_selling_plan_allocation.price_adjustments[1].price and
              current_variant.selected_selling_plan_allocation.price_adjustments[1].price != nil
            -%}
              <p class="main-product__purchase-options-description-title p2 p2--fixed medium">
                {%- if current_variant.selected_selling_plan_allocation.selling_plan.price_adjustments[0].order_count == 1 -%}
                  First payment

                  {% if settings.show_currency_codes %}
                    {{ current_variant.selected_selling_plan_allocation.price_adjustments[0].price | money_with_currency }}
                  {% else %}
                    {{ current_variant.selected_selling_plan_allocation.price_adjustments[0].price | money }}
                  {% endif %}
                  then

                  {% if settings.show_currency_codes %}
                    {{ current_variant.selected_selling_plan_allocation.price_adjustments[1].price | money_with_currency }}
                  {% else %}
                    {{ current_variant.selected_selling_plan_allocation.price_adjustments[1].price | money }}
                  {% endif %}
                {%- else -%}
                  First {{ current_variant.selected_selling_plan_allocation.selling_plan.price_adjustments[0].order_count }} payments

                  {% if settings.show_currency_codes %}
                    {{ current_variant.selected_selling_plan_allocation.price_adjustments[0].price | money_with_currency }} then
                  {% else %}
                    {{ current_variant.selected_selling_plan_allocation.price_adjustments[0].price | money }} then
                  {% endif %}

                  {% if settings.show_currency_codes %}
                    {{ current_variant.selected_selling_plan_allocation.price_adjustments[1].price | money_with_currency }}
                  {% else %}
                    {{ current_variant.selected_selling_plan_allocation.price_adjustments[1].price | money }}
                  {% endif %}
                {%- endif -%}
              </p>
            {%- endif -%}

            {%- if current_variant.selected_selling_plan_allocation.selling_plan.description -%}
              <p>{{- current_variant.selected_selling_plan_allocation.selling_plan.description | newline_to_br -}}</p>
            {%- endif -%}
          </div>
        </div>
      </div>

      {%- if shop.subscription_policy != blank -%}
        <modal-opener
          class="main-product__modal-opener main-product__modal-opener--policy no-js-hidden"
          data-modal="#PopupModal-Subscription-Policy"
        >
          <button
            id="ProductPopup-Subscription-Policy"
            class="main-product__modal-button button-link button-link--medium"
            type="button"
            aria-haspopup="dialog"
          >
            {%- assign subscription_policy_label = 'products.product.selling_plan_groups.subscription_policy' | t -%}
            {{- subscription_policy_label | default: shop.subscription_policy.title -}}
          </button>
        </modal-opener>
      {%- endif -%}
    {%- endif -%}

    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  </product-selector>
{%- endif -%}

<noscript class="main-product__form-noscript-variants main-product__form-noscript-wrapper-{{- section.id -}}">
  {%- unless product.has_only_default_variant -%}
    <div class="main-product__form-input">
      <label
        class="main-product__form-label medium p2 p2--fixed"
        for="Variants-{{- section.id -}}"
      >
        {{- 'products.product.product_variants' | t -}}
      </label>

      <div class="select">
        <select
          name="id"
          id="Variants-{{- section.id -}}"
          form="{{- product_form_id -}}"
        >
          {%- for variant in product.variants -%}
            <option
              {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
              {% if variant.available == false %}disabled="disabled"{% endif %}
              value="{{- variant.id -}}"
            >
              {{- variant.title -}}
              {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
              -
              {% if settings.show_currency_codes %}
                {{ variant.price | money_with_currency | strip_html }}
              {% else %}
                {{ variant.price | money | strip_html }}
              {% endif %}
            </option>
          {%- endfor -%}
        </select>

        {%- render 'icon-chevron' -%}
      </div>
    </div><!-- /.main-product__form-input -->
  {%- else -%}
    <input
      type="hidden"
      name="id"
      form="{{- product_form_id -}}"
      value="{{- product.selected_or_first_available_variant.id | default: product.variants.first.id -}}"
    >
  {%- endunless -%}
</noscript>
