{{ 'section-header.css' | asset_url | stylesheet_tag }}
{{ 'component-password-modal.css' | asset_url | stylesheet_tag }}

{%- assign header_class = ' ' | append: 'header--logo-' | append: section.settings.logo_position -%}

{%- if section.settings.show_line_separator -%}
  {%- assign header_class = header_class | append: ' header--border-bottom' -%}
{%- endif -%}

{%- if section.settings.transparent -%}
  {%- assign header_class = header_class | append: ' header--transparent' -%}
{%- endif -%}

<div class="header header--password{{ header_class }}">
  <header class="header__wrapper">
    <div class="container">
      <div class="header__inner">
        <h1 class="header__heading">
          <a
            href="{{- routes.root_url -}}"
            class="header__logo full-unstyled-link focus-inset"
            title="{{- shop.name -}}"
          >
            {%- if section.settings.logo != blank -%}
              {%- assign image_size = section.settings.logo_width -%}
              {%- assign image_size_double = section.settings.logo_width | times: 2 -%}
              {%- assign logo_image_src = section.settings.logo | image_url: width: image_size -%}
              {%- capture logo_image_srcset -%}
                {{ section.settings.logo | image_url: width: image_size }} 1x,
                {{ section.settings.logo | image_url: width: image_size_double }} 2x
              {%- endcapture -%}
              {%- assign logo_image_alt = section.settings.logo.alt | default: shop.name | escape -%}
              {%- assign logo_image_focal_point = section.settings.logo.presentation.focal_point -%}

              {%- render 'image',
                src: logo_image_src,
                srcset: logo_image_srcset,
                alt: logo_image_alt,
                focal_point: logo_image_focal_point,
                class: 'header__logo__image'
              -%}
            {%- else -%}
              <span class="h4">
                {{- shop.name -}}
              </span>
            {%- endif -%}
          </a>
        </h1>

        <password-modal>
          <details class="password-modal modal">
            <summary class="modal__toggle" aria-haspopup="dialog">
              <div class="modal__toggle-open password-link underlined-link">
                {% render 'icon-padlock' %}
                {{ 'general.password_page.login_password_button' | t }}
              </div>

              <div class="modal__toggle-close" aria-hidden="true">
                {%- render 'icon-close' -%}
              </div>
            </summary>

            <div
              class="modal__content"
              role="dialog"
              aria-labelledby="DialogHeading"
              aria-modal="true"
            >
              <div class="password-modal__content" tabindex="-1">
                <button
                  type="button"
                  class="modal__close-button link"
                  aria-label="{{- 'accessibility.close' | t -}}"
                >
                  {%- render 'icon-close' -%}
                </button>

                <h2 class="password-modal__content-heading h5" id="DialogHeading">
                  {{- 'general.password_page.login_form_heading' | t -}}
                </h2>

                {%- form 'storefront_password', class: 'password-form' -%}
                  <div class="password-field field{% if form.errors %} password-field--error{% endif %}">
                    <label
                      class="field__label"
                      for="{{ 'general.password_page.login_form_password_label' | t }}"
                    >
                      {{- 'general.password_page.login_form_password_placeholder' | t -}}
                    </label>

                    <input
                      type="password"
                      name="password"
                      id="Password"
                      class="field__input"
                      autocomplete="current-password"
                      {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="PasswordLoginForm-password-error"
                      {%- endif -%}
                    >

                    {%- if form.errors -%}
                      <div id="PasswordLoginForm-password-error" role="status">
                        <span class="visually-hidden">
                          {{- 'accessibility.error' | t -}}
                        </span>

                        <span class="form__message">
                          {% render 'icon-error' %} {{ 'general.password_page.login_form_error' | t }}
                        </span>
                      </div>
                    {%- endif -%}
                  </div>

                  <button name="commit" class="password-button button button--outline">
                    <span class="button__text">
                      {{- 'general.password_page.login_form_submit' | t -}}
                    </span>
                  </button>
                {%- endform -%}
              </div>
            </div>
          </details>
        </password-modal>
      </div>
    </div>
  </header>
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append: 'x' %}
      "logo": {{ section.settings.logo | image_url: width: image_size | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_media_twitter_url | json }},
      {{ settings.social_media_facebook_url | json }},
      {{ settings.social_media_pinterest_url | json }},
      {{ settings.social_media_instagram_url | json }},
      {{ settings.social_media_tiktok_url | json }},
      {{ settings.social_media_tumblr_url | json }},
      {{ settings.social_media_snapchat_url | json }},
      {{ settings.social_media_youtube_url | json }},
      {{ settings.social_media_vimeo_url | json }}
    ],
    "url": {{ shop.url | append: page.url | json }}
  }
</script>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "transparent",
      "label": "t:sections.header.settings.transparent_password.label",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 5,
      "default": 145,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.header.settings.logo_position.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.header.settings.logo_position.options.center"
        }
      ],
      "default": "left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator"
    }
  ]
}
{% endschema %}
